---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [37]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import re

In [43]:
lines = [line.rstrip('\n') for line in open('university_towns.txt')]

rows = []
for line in lines:
    state_groups = re.split(r'\[', line)
    region_groups = re.split(r' \(', line)
    if 'edit]' in state_groups :
        state = state_groups[0]
    else:
        rows.append([state, region_groups[0]])

pd.DataFrame(rows, columns=['State', 'RegionName']).head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [204]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''

    lines = [line.rstrip('\n') for line in open('university_towns.txt')]

    rows = []
    for line in lines:
        state_groups = re.split(r'\[', line)
        region_groups = re.split(r' \(', line)
        if 'edit]' in state_groups :
            state = state_groups[0]
        else:
            rows.append([state, region_groups[0]])

    return pd.DataFrame(rows, columns=['State', 'RegionName'])
    
# get_list_of_university_towns()

In [210]:
gdp_annual = (pd.read_excel('gdplev.xls',  skiprows=5, usecols='A:C', skip_footer=191)[2:]
             .rename(columns={'Unnamed: 0':'Year'}))
gdp_annual

gdp_quarterly = (pd.read_excel('gdplev.xls',  skiprows=5, usecols='E:G')[2:]
             .rename(columns={'Unnamed: 0':'Quarter', 'GDP in billions of chained 2009 dollars' : 'GDP'}))[['Quarter', 'GDP']]

# set DateTimeIndex to Quarter
gdp_quarterly = gdp_quarterly.set_index(pd.DatetimeIndex(gdp_quarterly['Quarter']))

# Consider only values after 2000 Q1
gdp_quarterly = gdp_quarterly[gdp_quarterly.index >= '2000-01-01']

# add quarterly difference of GDP
newcol = [i for i in np.diff(gdp_quarterly['GDP']) ]
newcol.insert(0, 0)

gdp_quarterly = gdp_quarterly.assign(Diff = newcol)

gdp_quarterly
# np.diff()

           Quarter      GDP   Diff
Quarter
2000-01-01  2000q1  12359.1    0.0
2000-04-01  2000q2  12592.5  233.4
2000-07-01  2000q3  12607.7   15.2
2000-10-01  2000q4  12679.3   71.6
2001-01-01  2001q1  12643.3  -36.0
2001-04-01  2001q2  12710.3   67.0
2001-07-01  2001q3  12670.1  -40.2
2001-10-01  2001q4  12705.3   35.2
2002-01-01  2002q1  12822.3  117.0
2002-04-01  2002q2  12893.0   70.7
2002-07-01  2002q3  12955.8   62.8
2002-10-01  2002q4  12964.0    8.2
2003-01-01  2003q1  13031.2   67.2
2003-04-01  2003q2  13152.1  120.9
2003-07-01  2003q3  13372.4  220.3
2003-10-01  2003q4  13528.7  156.3
2004-01-01  2004q1  13606.5   77.8
2004-04-01  2004q2  13706.2   99.7
2004-07-01  2004q3  13830.8  124.6
2004-10-01  2004q4  13950.4  119.6
2005-01-01  2005q1  14099.1  148.7
2005-04-01  2005q2  14172.7   73.6
2005-07-01  2005q3  14291.8  119.1
2005-10-01  2005q4  14373.4   81.6
2006-01-01  2006q1  14546.1  172.7
2006-04-01  2006q2  14589.6   43.5
2006-07-01  2006q3  14602.6   13.0
2006-10-01  2006q4  14716.9  114.3
2007-01-01  2007q1  14726.0    9.1
2007-04-01  2007q2  14838.7  112.7
...            ...      ...    ...
2009-01-01  2009q1  14375.0 -202.0
2009-04-01  2009q2  14355.6  -19.4
2009-07-01  2009q3  14402.5   46.9
2009-10-01  2009q4  14541.9  139.4
2010-01-01  2010q1  14604.8   62.9
2010-04-01  2010q2  14745.9  141.1
2010-07-01  2010q3  14845.5   99.6
2010-10-01  2010q4  14939.0   93.5
2011-01-01  2011q1  14881.3  -57.7
2011-04-01  2011q2  14989.6  108.3
2011-07-01  2011q3  15021.1   31.5
2011-10-01  2011q4  15190.3  169.2
2012-01-01  2012q1  15291.0  100.7
2012-04-01  2012q2  15362.4   71.4
2012-07-01  2012q3  15380.8   18.4
2012-10-01  2012q4  15384.3    3.5
2013-01-01  2013q1  15491.9  107.6
2013-04-01  2013q2  15521.6   29.7
2013-07-01  2013q3  15641.3  119.7
2013-10-01  2013q4  15793.9  152.6
2014-01-01  2014q1  15747.0  -46.9
2014-04-01  2014q2  15900.8  153.8
2014-07-01  2014q3  16094.5  193.7
2014-10-01  2014q4  16186.7   92.2
2015-01-01  2015q1  16269.0   82.3
2015-04-01  2015q2  16374.2  105.2
2015-07-01  2015q3  16454.9   80.7
2015-10-01  2015q4  16490.7   35.8
2016-01-01  2016q1  16525.0   34.3
2016-04-01  2016q2  16583.1   58.1

[66 rows x 3 columns]

In [207]:
# x = np.array([1, 2, 4, 7, 0])
# list(np.diff(gdp_quarterly['GDP']))

In [52]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"